Repository aws/aws-cli, pull requests merged in 2022-06, with the labels that each got.

#5568 Add CodeCommit Repository Resource to cloudformation package command
  awscli/customizations/cloudformation/artifact_exporter.py
  awscli/examples/cloudformation/_package_description.rst
  tests/unit/customizations/cloudformation/test_artifact_exporter.py
Labels: cloudformation package-deploy, cloudformation, contribution:core, customization

#6045 Feature: Added source field option for define-index-field command under CloudSearch
  awscli/customizations/cloudsearch.py
  tests/functional/cloudsearch/test_cloudsearch.py
Labels: feature-request, cloudsearch, community

#7063 [v2] Bump Python version ceiling to 3.10
  .changes/next-release/enhancement-Python-80626.json
  .github/workflows/run-tests.yml
  README.rst
  setup.cfg
Labels: v2

#7055 Update example output for S3 presigned URL max expiration
  awscli/examples/s3/presign.rst
Labels: documentation, community
